In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [58]:
df = pd.read_sas('a2z_insurance.sas7bdat')
df.set_index('CustID', inplace=True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10296 entries, 0 to 10295
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustID         10296 non-null  float64
 1   FirstPolYear   10266 non-null  float64
 2   BirthYear      10279 non-null  float64
 3   EducDeg        10279 non-null  object
 4   MonthSal       10260 non-null  float64
 5   GeoLivArea     10295 non-null  float64
 6   Children       10275 non-null  float64
 7   CustMonVal     10296 non-null  float64
 8   ClaimsRate     10296 non-null  float64
 9   PremMotor      10262 non-null  float64
 10  PremHousehold  10296 non-null  float64
 11  PremHealth     10253 non-null  float64
 12  PremLife       10192 non-null  float64
 13  PremWork       10210 non-null  float64
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [54]:
df.isna().sum()

CustID             0
FirstPolYear      30
BirthYear         17
EducDeg           17
MonthSal          36
GeoLivArea         1
Children          21
CustMonVal         0
ClaimsRate         0
PremMotor         34
PremHousehold      0
PremHealth        43
PremLife         104
PremWork          86
dtype: int64

In [59]:
#Check duplicates
df.duplicated().sum()

3

In [56]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CustID,10296.0,5148.500000,2972.343520,1.00,2574.75,5148.50,7722.2500,10296.00
FirstPolYear,10266.0,1991.062634,511.267913,1974.00,1980.00,1986.00,1992.0000,53784.00
BirthYear,10279.0,1968.007783,19.709476,1028.00,1953.00,1968.00,1983.0000,2001.00
MonthSal,10260.0,2506.667057,1157.449634,333.00,1706.00,2501.50,3290.2500,55215.00
GeoLivArea,10295.0,2.709859,1.266291,1.00,1.00,3.00,4.0000,4.00
Children,10275.0,0.706764,0.455268,0.00,0.00,1.00,1.0000,1.00
CustMonVal,10296.0,177.892605,1945.811505,-165680.42,-9.44,186.87,399.7775,11875.89
ClaimsRate,10296.0,0.742772,2.916964,0.00,0.39,0.72,0.9800,256.20
PremMotor,10262.0,300.470252,211.914997,-4.11,190.59,298.61,408.3000,11604.42
PremHousehold,10296.0,210.431192,352.595984,-75.00,49.45,132.80,290.0500,25048.80
PremHealth,10253.0,171.580833,296.405976,-2.11,111.80,162.81,219.8200,28272.00
PremLife,10192.0,41.855782,47.480632,-7.00,9.89,25.56,57.7900,398.30
PremWork,10210.0,41.277514,51.513572,-12.00,10.67,25.67,56.7900,1988.70

In [57]:
df = df.astype({'CustID': int, 'FirstPolYear': int, 'BirthYear': int, 'MonthSal': int})

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
df.sample(10)

,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
CustID,,,,,,,,,,,,,
3142,1994.0,1951.0,b'3 - BSc/MSc',3678.0,4.0,0.0,235.05,0.65,292.39,197.25,216.82,32.34,7.00
2695,1988.0,1961.0,b'3 - BSc/MSc',2486.0,1.0,0.0,577.99,0.12,479.87,133.90,71.57,4.78,-6.00
4802,1982.0,1986.0,b'3 - BSc/MSc',1459.0,3.0,0.0,122.25,0.84,175.81,421.20,193.37,80.57,52.01
257,1990.0,1957.0,b'4 - PhD',2945.0,3.0,1.0,302.95,0.55,310.17,187.25,197.26,17.78,17.45
5156,1979.0,1961.0,b'2 - High School',3166.0,1.0,1.0,460.87,0.36,272.94,191.15,178.81,97.24,21.78
9541,1991.0,1951.0,b'2 - High School',3913.0,3.0,1.0,-24.00,1.00,423.19,106.70,124.58,1.00,5.89
7297,1985.0,1962.0,b'3 - BSc/MSc',2687.0,1.0,1.0,-59.44,1.06,325.06,-0.55,188.37,39.34,33.34
5699,1983.0,1968.0,b'4 - PhD',2913.0,3.0,0.0,-39.89,1.02,465.20,59.45,94.13,4.89,10.00
7736,1981.0,1987.0,b'3 - BSc/MSc',1411.0,1.0,1.0,185.14,0.72,270.94,197.25,234.60,33.45,20.56
10048,1977.0,1975.0,b'2 - High School',2403.0,1.0,0.0,-67.23,1.07,386.96,29.45,127.47,42.23,37.45