In [97]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.impute import KNNImputer
from datetime import datetime

In [98]:
df = pd.read_sas('a2z_insurance.sas7bdat')
df.set_index('CustID', inplace=True)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 10296 entries, 1.0 to 10296.0
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FirstPolYear   10266 non-null  float64
 1   BirthYear      10279 non-null  float64
 2   EducDeg        10279 non-null  object
 3   MonthSal       10260 non-null  float64
 4   GeoLivArea     10295 non-null  float64
 5   Children       10275 non-null  float64
 6   CustMonVal     10296 non-null  float64
 7   ClaimsRate     10296 non-null  float64
 8   PremMotor      10262 non-null  float64
 9   PremHousehold  10296 non-null  float64
 10  PremHealth     10253 non-null  float64
 11  PremLife       10192 non-null  float64
 12  PremWork       10210 non-null  float64
dtypes: float64(12), object(1)
memory usage: 1.1+ MB

In [100]:
non_metric_features = ["EducDeg"]
metric_features=df.columns.drop(non_metric_features).to_list()

In [101]:
df.isna().sum()

FirstPolYear      30
BirthYear         17
EducDeg           17
MonthSal          36
GeoLivArea         1
Children          21
CustMonVal         0
ClaimsRate         0
PremMotor         34
PremHousehold      0
PremHealth        43
PremLife         104
PremWork          86
dtype: int64

In [102]:
#Check duplicates
df.duplicated().sum()

3

In [103]:
##df = df.astype({'CustID': int, 'FirstPolYear': int, 'BirthYear': int, 'MonthSal': int})

In [104]:
df_filled=df.copy()
modes = df[non_metric_features].mode().loc[0]
df_filled.fillna(modes, inplace=True)
imputer = KNNImputer(n_neighbors=5, weights="uniform")
df_filled[metric_features] = imputer.fit_transform(df_filled[metric_features])

In [105]:
df.isna().sum()

FirstPolYear      30
BirthYear         17
EducDeg           17
MonthSal          36
GeoLivArea         1
Children          21
CustMonVal         0
ClaimsRate         0
PremMotor         34
PremHousehold      0
PremHealth        43
PremLife         104
PremWork          86
dtype: int64

In [106]:
nans_index = df.isna().any(axis=1)
df[nans_index]

,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
CustID,,,,,,,,,,,,,
22.0,1977.0,1958.0,b'2 - High School',NaN,3.0,1.0,111.37,0.80,407.52,111.70,100.13,24.67,30.34
69.0,1983.0,1977.0,b'2 - High School',1399.0,4.0,1.0,476.65,0.33,330.73,186.70,211.15,NaN,15.78
139.0,1979.0,1976.0,b'2 - High School',2538.0,2.0,1.0,149.59,0.69,194.26,305.60,NaN,37.34,17.67
144.0,1996.0,1990.0,b'3 - BSc/MSc',NaN,4.0,1.0,-42.45,1.02,146.36,353.95,220.04,121.80,42.01
185.0,1993.0,1984.0,b'2 - High School',2419.0,4.0,1.0,-62.23,1.07,NaN,253.95,230.60,5.89,43.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10011.0,NaN,1947.0,b'2 - High School',3959.0,2.0,NaN,-128.24,1.14,177.81,153.35,311.28,67.79,35.45
10058.0,1983.0,1980.0,b'2 - High School',1569.0,4.0,1.0,222.60,0.55,235.60,211.15,NaN,32.34,68.79
10143.0,1986.0,1985.0,b'3 - BSc/MSc',1652.0,3.0,1.0,55.67,0.88,257.05,94.45,308.39,NaN,13.78
10285.0,1980.0,1987.0,b'3 - BSc/MSc',1504.0,4.0,1.0,-1.55,0.96,390.63,29.45,179.70,-6.00,NaN
10286.0,1985.0,1948.0,b'3 - BSc/MSc',3878.0,4.0,1.0,-57.45,1.04,269.05,217.25,219.93,32.45,NaN

In [107]:
df_filled[nans_index]

,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
CustID,,,,,,,,,,,,,
22.0,1977.0,1958.0,b'2 - High School',2541.2,3.0,1.0,111.37,0.80,407.520,111.70,100.130,24.670,30.340
69.0,1983.0,1977.0,b'2 - High School',1399.0,4.0,1.0,476.65,0.33,330.730,186.70,211.150,33.784,15.780
139.0,1979.0,1976.0,b'2 - High School',2538.0,2.0,1.0,149.59,0.69,194.260,305.60,226.598,37.340,17.670
144.0,1996.0,1990.0,b'3 - BSc/MSc',1721.8,4.0,1.0,-42.45,1.02,146.360,353.95,220.040,121.800,42.010
185.0,1993.0,1984.0,b'2 - High School',2419.0,4.0,1.0,-62.23,1.07,264.428,253.95,230.600,5.890,43.120
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10011.0,1990.8,1947.0,b'2 - High School',3959.0,2.0,0.0,-128.24,1.14,177.810,153.35,311.280,67.790,35.450
10058.0,1983.0,1980.0,b'2 - High School',1569.0,4.0,1.0,222.60,0.55,235.600,211.15,247.602,32.340,68.790
10143.0,1986.0,1985.0,b'3 - BSc/MSc',1652.0,3.0,1.0,55.67,0.88,257.050,94.45,308.390,23.338,13.780
10285.0,1980.0,1987.0,b'3 - BSc/MSc',1504.0,4.0,1.0,-1.55,0.96,390.630,29.45,179.700,-6.000,15.736
10286.0,1985.0,1948.0,b'3 - BSc/MSc',3878.0,4.0,1.0,-57.45,1.04,269.050,217.25,219.930,32.450,41.830

In [108]:
df=df_filled.copy()

In [109]:
##PERGUNTAR SE É EM 2016 OU AGORAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA!!!
df['Age'] = 2016-df['BirthYear']
df.drop(columns='BirthYear', inplace=True)
metric_features.remove('BirthYear')

In [110]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
FirstPolYear,10296.0,NaN,NaN,NaN,1991.048057,510.522542,1974.0,1980.0,1986.0,1992.0,53784.0
EducDeg,10296,4,b'3 - BSc/MSc',4816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthSal,10296.0,NaN,NaN,NaN,2506.48378,1156.118108,333.0,1706.75,2500.5,3290.0,55215.0
GeoLivArea,10296.0,NaN,NaN,NaN,2.709848,1.26623,1.0,1.0,3.0,4.0,4.0
Children,10296.0,NaN,NaN,NaN,0.706857,0.455063,0.0,0.0,1.0,1.0,1.0
CustMonVal,10296.0,NaN,NaN,NaN,177.892605,1945.811505,-165680.42,-9.44,186.87,399.7775,11875.89
ClaimsRate,10296.0,NaN,NaN,NaN,0.742772,2.916964,0.0,0.39,0.72,0.98,256.2
PremMotor,10296.0,NaN,NaN,NaN,300.671206,211.65539,-4.11,191.26,299.28,408.3,11604.42
PremHousehold,10296.0,NaN,NaN,NaN,210.431192,352.595984,-75.0,49.45,132.8,290.05,25048.8
PremHealth,10296.0,NaN,NaN,NaN,171.623728,295.806851,-2.11,111.91,162.92,219.235,28272.0
PremLife,10296.0,NaN,NaN,NaN,41.623736,47.349596,-7.0,9.89,25.45,57.01,398.3
PremWork,10296.0,NaN,NaN,NaN,41.149226,51.375886,-12.0,10.67,25.67,56.12,1988.7
Age,10296.0,NaN,NaN,NaN,47.992483,19.700801,15.0,33.0,48.0,63.0,988.0

In [111]:
sorted(df['PremLife'].unique())[-40:]

[259.27,
 261.05,
 261.16,
 263.05,
 264.05,
 264.16,
 267.94,
 270.83,
 270.94,
 271.83,
 272.05,
 273.94,
 275.72,
 275.83,
 275.94,
 276.83,
 276.94,
 278.83,
 279.72,
 281.83,
 282.72,
 284.61,
 295.5,
 297.5,
 299.5,
 300.5,
 309.28,
 311.28,
 313.28,
 318.06,
 320.06,
 324.84,
 329.73,
 330.84,
 341.51,
 346.4,
 354.4,
 363.29,
 365.18,
 398.3]

In [112]:
filters1 = (
    (df['FirstPolYear']<=2016)
    &
    (df['MonthSal']<=5500)
    &
    (df['CustMonVal']>=-3000)
    &
    (df['CustMonVal']<=3000)
    &
    (df['ClaimsRate']<=6)
    &
    (df['PremMotor']<=700)
    &
    (df['PremHousehold']<=1500)
    &
    (df['PremHealth']<=760)
    &
    (df['PremLife']<=150)
    &
    (df['Age']<=85)
)

df_1 = df[filters1]
print('Percentage of data kept after removing outliers:', np.round(df_1.shape[0] / df.shape[0], 4))

Percentage of data kept after removing outliers: 0.9553

In [118]:
q25 = df.quantile(.25)
q75 = df.quantile(.75)
iqr = (q75 - q25)

upper_lim = q75 + 1.5 * iqr
lower_lim = q25 - 1.5 * iqr

filters2 = []
for metric in metric_features:
    llim = lower_lim[metric]
    ulim = upper_lim[metric]
    filters2.append(df[metric].between(llim, ulim, inclusive='both'))

filters2 = pd.Series(np.all(filters2, 0))
df_2=df.copy()
df_2['filters2'] = filters2.to_list()
df_2=df_2[df_2['filters2']!=False]
print('Percentage of data kept after removing outliers:', np.round(df_2.shape[0] / df.shape[0], 4))

Percentage of data kept after removing outliers: 0.8544

In [130]:
df_3 = df.copy()
df_3['filters1'] = filters1.to_list()
df_3['filters2'] = filters2
df_3 = df_3[(df_3['filters1']==True) | (df_3['filters2']==True)]
print('Percentage of data kept after removing outliers:', np.round(df_3.shape[0] / df.shape[0], 4))

Percentage of data kept after removing outliers: 0.9944

In [131]:
df_3.drop(columns=['filters1','filters2'], inplace=True)
print(df.shape)
print(df_3.shape)

(10296, 13)
(10238, 13)

In [133]:
df=df_3.copy()